{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

{% assign author = post.author | default: post.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

<div class="{{ include.type | default: "list" }}__item">
    <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
        {% if include.type == "grid" and teaser %}
        <div class="archive__item-teaser">
            <img src="{{ teaser | relative_url }}" alt="">
        </div>
        {% endif %}
        <h2 class="archive__item-title" itemprop="headline">
            {% if post.link %}
            <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i
                    class="fas fa-link" aria-hidden="true" title="permalink"></i><span
                    class="sr-only">Permalink</span></a>
            {% else %}
            <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
            {% endif %}
        </h2>

        <p class="page__meta">
            {% include author_link.html %}
            
            {% if post.read_time %}            
            &nbsp; &middot; &nbsp;
            <i class="far fa-clock" aria-hidden="true"></i>
            {% include read-time.html %}
            {% endif %}
            
        </p>

        {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">
            {{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
    </article>
</div>