<div id="refs" class="references">
<div id="ref-noauthor_60_2007">
<p><em>60 Ans d’histoire de L’UNESCO : Actes Du Colloque International 16-18 Novembre 2005, Maison de L’UNESCO, Paris</em>. 2007. Paris: UNESCO.</p>
</div>
<div id="ref-alexandrowicz_law_2017">
<p>Alexandrowicz, C. H. 2017. <em>The Law of Nations in Global History</em>. Edited by David Armitage and Jennifer Pitts. Oxford: Oxford University Press.</p>
</div>
<div id="ref-algee-hewitt_principles_2019">
<p>Algee-Hewitt, Mark. 2019. “The Principles of Meaning: Networks of Knowledge in Johnson’s Dictionary.” In <em>Networks of Enlightenment: Digital Approaches to the Republic of Letters</em>, edited by Chloe Edmondson and Dan Edelstein, 251–77. Oxford University Series in the Enlightenment. Liverpool: Liverpool University Press.</p>
</div>
<div id="ref-allison_reductive_2018">
<p>Allison, Sarah. 2018. <em>Reductive Reading: A Syntax of Victorian Moralizing</em>. Baltimore: Johns Hopkins University Press.</p>
</div>
<div id="ref-allison_style_2013">
<p>Allison, Sarah, Marissa Gemma, Ryan Heuser, Franco Moretti, Amir Tevel, and Irena Yamboliev. 2013. “Style at the Scale of the Sentence.” <em>Stanford Literary Lab Pamphlet</em> 5 (June). <a href="https://litlab.stanford.edu/LiteraryLabPamphlet5.pdf" class="uri">https://litlab.stanford.edu/LiteraryLabPamphlet5.pdf</a>.</p>
</div>
<div id="ref-bernecker_unesco-weltkulturerbe_2005">
<p>Bernecker, Roland. 2005. <em>Das UNESCO-Weltkulturerbe Und Zur Genese Eines Völkerrechtsvertrags</em>. Paderborner Universitätsreden / Universität-Gesamthochschule Paderborn, Rektorat / Universität Paderborn. - Paderborn : Univ., 1984- 99. Paderborn: Univ.</p>
</div>
<div id="ref-betts_humanitys_2015">
<p>Betts, Paul. 2015. “Humanity’s New Heritage: Unesco and the Rewriting of World History.” <em>Past &amp; Present</em> 228 (1): 249–85. <a href="https://doi.org/10.1093/pastj/gtv031" class="uri">https://doi.org/10.1093/pastj/gtv031</a>.</p>
</div>
<div id="ref-beukelaer_global_2018">
<p>Beukelaer, Christiaan De, and Kim-Marie Spence. 2018. <em>Global Cultural Economy</em>. London: Routledge.</p>
</div>
<div id="ref-blei_probabilistic_2012">
<p>Blei, David M. 2012. “Probabilistic Topic Models.” <em>Commun. ACM</em> 55 (4): 77–84. <a href="https://doi.org/10.1145/2133806.2133826" class="uri">https://doi.org/10.1145/2133806.2133826</a>.</p>
</div>
<div id="ref-bourdieu_cunning_1999">
<p>Bourdieu, Pierre, and Loïc Wacquant. 1999. “On the Cunning of Imperialist Reason.” <em>Theory, Culture &amp; Society</em> 16 (1): 41–58. <a href="https://doi.org/10.1177/026327699016001003" class="uri">https://doi.org/10.1177/026327699016001003</a>.</p>
</div>
<div id="ref-brattain_race_2007">
<p>Brattain, Michelle. 2007. “Race, Racism, and Antiracism: UNESCO and the Politics of Presenting Science to the Postwar Public.” <em>American Historical Review</em> 112 (5): 1386–1413. <a href="https://doi.org/10.1086/ahr.112.5.1386" class="uri">https://doi.org/10.1086/ahr.112.5.1386</a>.</p>
</div>
<div id="ref-brendebach_new_2019">
<p>Brendebach, Jonas. 2019. “A New Global Media Order? : Debates and Policies on Media and Mass Communication at UNESCO, 1960 to 1980.” Thesis, European University Institute. <a href="https://doi.org/10.2870/654484" class="uri">https://doi.org/10.2870/654484</a>.</p>
</div>
<div id="ref-brendebach_international_2018">
<p>Brendebach, Jonas, Martin Herzer, and Heidi J. S. Tworek, eds. 2018. <em>International Organizations and the Media in the Nineteenth and Twentieth Centuries: Exorbitant Expectations</em>. Abingdon: Routledge.</p>
</div>
<div id="ref-brouillette_unesco_2014">
<p>Brouillette, Sarah. 2014. “UNESCO and the Book in the Developing World.” <em>Representations</em> 127 (1): 33–54. <a href="https://doi.org/10.1525/rep.2014.127.1.33" class="uri">https://doi.org/10.1525/rep.2014.127.1.33</a>.</p>
</div>
<div id="ref-brouillette_unesco_2019">
<p>———. 2019. <em>UNESCO and the Fate of the Literary</em>. Stanford, CA: Stanford University Press.</p>
</div>
<div id="ref-conil-lacoste_story_1994">
<p>Conil-Lacoste, Michel. 1994. <em>The Story of a Grand Design: UNESCO 1946-1993, People, Events and Achievements</em>. Paris: UNESCO Publishing.</p>
</div>
<div id="ref-conrad_what_2016">
<p>Conrad, Sebastian. 2016. <em>What Is Global History?</em> Princeton, NJ: Princeton University Press.</p>
</div>
<div id="ref-de_bolla_architecture_2013">
<p>De Bolla, Peter. 2013. <em>The Architecture of Concepts: The Historical Formation of Human Rights</em>. New York: Fordham University Press.</p>
</div>
<div id="ref-de_bolla_distributional_2019">
<p>De Bolla, Peter, Ewan Jones, Paul Nulty, Gabriel Recchia, and John Regan. 2019a. “Distributional Concept Analysis.” <em>Contributions to the History of Concepts</em> 14 (1): 66–92. <a href="https://doi.org/http://dx.doi.org/10.3167/choc.2019.140104" class="uri">https://doi.org/http://dx.doi.org/10.3167/choc.2019.140104</a>.</p>
</div>
<div id="ref-de_bolla_conceptual_2019">
<p>———. 2019b. “The Conceptual Foundations of the Modern Idea of Government in the British Eighteenth Century: A Distributional Concept Analysis.” <em>International Journal for History, Culture and Modernity</em> 7 (0). <a href="https://doi.org/10.18352/hcm.575" class="uri">https://doi.org/10.18352/hcm.575</a>.</p>
</div>
<div id="ref-droit_humanity_2005">
<p>Droit, Roger-Pol. 2005. <em>Humanity in the Making: Overview of the Intellectual History of UNESCO 1945-2005</em>. Paris: Unesco.</p>
</div>
<div id="ref-drucker_graphesis_2014">
<p>Drucker, Johanna. 2014. <em>Graphesis: Visual Forms of Knowledge Production</em>. Cambridge, MA: Harvard University Press.</p>
</div>
<div id="ref-duedahl_fra_2007">
<p>Duedahl, Poul. 2007. “Fra Overmenneske Til UNESCO-Menneske: En Begrebshistorisk Analyse Af Overgangen Fra et Biologisk Til et Kulturelt Forankret Menneskesyn I Det 20. Århundrede.” PhD thesis, Aarhus: Aarhus University.</p>
</div>
<div id="ref-duedahl_selling_2011">
<p>———. 2011. “Selling Mankind: UNESCO and the Invention of Global History, 1945-76.” <em>Journal of World History</em> 22 (1): 101–33. <a href="https://doi.org/10.1353/jwh.2011.0000" class="uri">https://doi.org/10.1353/jwh.2011.0000</a>.</p>
</div>
<div id="ref-duedahl_history_2016">
<p>———, ed. 2016. <em>A History of UNESCO: Global Actions and Impacts</em>. Basingstoke: Palgrave Macmillan.</p>
</div>
<div id="ref-duedahl_fra_2017">
<p>———. 2017. <em>Fra Overmenneske Til UNESCO-Menneske: Racebegrebet I Danmark 1890-1965</em>. Odense: Syddansk Universitetsforlag. <a href="http://vbn.aau.dk/en/publications/fra-overmenneske-til-unescomenneske(9dc9cc60-8ab1-4b6c-8dd4-4b127330f096).html" class="uri">http://vbn.aau.dk/en/publications/fra-overmenneske-til-unescomenneske(9dc9cc60-8ab1-4b6c-8dd4-4b127330f096).html</a>.</p>
</div>
<div id="ref-dunne_globalization_2017">
<p>Dunne, Tim, and Christian Reus-Smit, eds. 2017. <em>The Globalization of International Society</em>. Oxford: Oxford University Press.</p>
</div>
<div id="ref-dutt_unesco_2002">
<p>Dutt, Sagarika. 2002. <em>UNESCO and a Just World Order</em>. Nova Science Publishers.</p>
</div>
<div id="ref-elfert_unescos_2017">
<p>Elfert, Maren. 2017. <em>UNESCO’s Utopia of Lifelong Learning: An Intellectual History</em>. London: Routledge.</p>
</div>
<div id="ref-eriksen_between_2001">
<p>Eriksen, Thomas Hylland. 2001. “Between Universalism and Relativism: A Critique of the UNESCO Concepts of Culture.” In <em>Culture and Rights: Anthropological Perspectives</em>, edited by Jane K. Cowan, Marie-Bénédicte Dembour, and Richard A. Wilson, 127–48. Cambridge: Cambridge University Press.</p>
</div>
<div id="ref-finkielkraut_defeat_1995">
<p>Finkielkraut, Alain. 1995. <em>The Defeat of the Mind</em>. Translated by Judith Friedlander. New York: Columbia University Press.</p>
</div>
<div id="ref-garner_politics_2016">
<p>Garner, Ben. 2016. <em>The Politics of Cultural Development: Trade, Cultural Policy and the UNESCO Convention on Cultural Diversity</em>. London: Routledge.</p>
</div>
<div id="ref-gfeller_unesco_2016">
<p>Gfeller, Aurélie Élisa, and Jaci Eisenberg. 2016. “UNESCO and the Shaping of Global Heritage.” In <em>A History of UNESCO: Global Actions and Impacts</em>, edited by Poul Duedahl, 279–99. Basingstoke: Palgrave MacMillan.</p>
</div>
<div id="ref-glenda_sluga_unesco_2010">
<p>Glenda Sluga. 2010. “UNESCO and the (One) World of Julian Huxley.” <em>Journal of World History</em> 21 (3): 393–418. <a href="https://doi.org/10.1353/jwh.2010.0016" class="uri">https://doi.org/10.1353/jwh.2010.0016</a>.</p>
</div>
<div id="ref-graham_exploring_2016">
<p>Graham, Shawn, Ian Milligan, and Scott Weingart. 2016. <em>Exploring Big Historical Data: The Historian’s Macroscope</em>. London: Imperial College Press.</p>
</div>
<div id="ref-hazard_postwar_2012">
<p>Hazard, Anthony Q. 2012. <em>Postwar Anti-Racism: The United States, UNESCO, and &quot;Race,&quot; 1945-1968</em>. Springer.</p>
</div>
<div id="ref-heidi_js_tworek_international_2018">
<p>Heidi J.S. Tworek, Martin Herzer, and Jonas Brendebach, eds. 2018. <em>International Organizations and the Media in the Nineteenth and Twentieth Centuries: Exorbitant Expectations [Elektronisk Resurs]</em>. Abingdon: Routledge.</p>
</div>
<div id="ref-herbjornsrud_beyond_2019">
<p>Herbjørnsrud, Dag. 2019. “Beyond Decolonizing: Global Intellectual History and Reconstruction of a Comparative Method.” <em>Global Intellectual History</em> 0 (0): 1–27. <a href="https://doi.org/10.1080/23801883.2019.1616310" class="uri">https://doi.org/10.1080/23801883.2019.1616310</a>.</p>
</div>
<div id="ref-hill_invisible_2016">
<p>Hill, Mark J. 2016. “Invisible Interpretations: Reflections on the Digital Humanities and Intellectual History.” <em>Global Intellectual History</em> 1 (2): 130–50. <a href="https://doi.org/10.1080/23801883.2017.1304162" class="uri">https://doi.org/10.1080/23801883.2017.1304162</a>.</p>
</div>
<div id="ref-hills_struggle_2010">
<p>Hills, Jill. 2010. <em>The Struggle for Control of Global Communication: The Formative Century</em>. Urbana: University of Illinois Press.</p>
</div>
<div id="ref-hodel_kleine_2013">
<p>Hodel, Tobias. 2013. “Das kleine Digitale. Ein Plädoyer für Kleinkorpora und gegen Großprojekte wie Googles Ngram-Viewer.” <em>Nach Feierabend. Zürcher Jahrbuch für Wissensgeschichte</em> 9: Digital Humanities: 103–19.</p>
</div>
<div id="ref-hoeres_zum_2017">
<p>Hoeres, Peter. 2017. “Zum Programm einer Ideengeschichte des Digitalzeitalters.” In <em>Ideengeschichte Heute. Traditionen und Perspektiven</em>, edited by D. Timothy Goering, 215–34. Bielefeld: transcript Verlag.</p>
</div>
<div id="ref-huxley_unesco_1946">
<p>Huxley, Julian. 1946. <em>UNESCO: Its Purpose and Its Philosophy</em>. Paris: Preparatory Commission of the United Nations Educational, Scientific; Cultural Organisation.</p>
</div>
<div id="ref-iriye_culture_1979">
<p>Iriye, Akira. 1979. “Culture and Power: International Relations as Intercultural Relations.” <em>Diplomatic History</em> 3 (2): 115–28.</p>
</div>
<div id="ref-jansen_decolonization_2017">
<p>Jansen, Jan C., and Jürgen Osterhammel. 2017. <em>Decolonization: A Short History</em>. Princeton, NJ: Princeton University Press.</p>
</div>
<div id="ref-jockers_macroanalysis_2013">
<p>Jockers, Matthew L. 2013. <em>Macroanalysis: Digital Methods and Literary History</em>. Urbana: University of Illinois Press.</p>
</div>
<div id="ref-julkunen_information_1987">
<p>Julkunen, Eero, and Matti Sarmela. 1987. <em>Information Technology and Structural Change in Local Cultures: Finland’s Contribution to the European Joint Study of UNESCO on the Role of Communication in the Cultural Development of Rural Areas</em>. Helsinki: Finnish National Commission for Unesco.</p>
</div>
<div id="ref-king_race_2004">
<p>King, Richard H. 2004. <em>Race, Culture, and the Intellectuals : 1940-1970</em>. Washington, D.C.: Woodrow Wilson Center Press.</p>
</div>
<div id="ref-knutsson_intellectual_2009">
<p>Knutsson, Beniamin. 2009. “The Intellectual History of Development: Towards a Widening Potential Repertoire.” <em>Perspectives (Gothenburg University, School of Global Studies)</em>, no. 13 (April).</p>
</div>
<div id="ref-kowalski_when_2011">
<p>Kowalski, Alexandra. 2011. “When Cultural Capitalization Became Global Practice: The 1972 World Heritage Convention.” In <em>The Cultural Wealth of Nations</em>, edited by Nina Bandelj and Frederick F. Wherry, 73–89. Stanford, CA: Stanford University Press.</p>
</div>
<div id="ref-kozymka_diplomacy_2014">
<p>Kozymka, Irena. 2014. <em>The Diplomacy of Culture: The Role of UNESCO in Sustaining Cultural Diversity</em>. New York: Palgrave Macmillan.</p>
</div>
<div id="ref-krill_de_capello_creation_1970">
<p>Krill de Capello, H. H. 1970. “The Creation of the United Nations Educational, Scientific and Cultural Organization.” <em>International Organization</em> 24 (1): 1–30. <a href="http://www.jstor.org.ezproxy.its.uu.se/stable/2706105" class="uri">http://www.jstor.org.ezproxy.its.uu.se/stable/2706105</a>.</p>
</div>
<div id="ref-kulnazarova_unescos_2016">
<p>Kulnazarova, Aigul, and Poul Duedahl. 2016. “UNESCO’s Reeducation Activities in Postwar Japan and Germany: Changing Minds and Shifting Attitudes Towards Peace and International Understanding.” <em>UNESCO Without Borders: Educational Campaigns for International Understanding</em>, 52–74. <a href="http://vbn.aau.dk/en/publications/unescos-reeducation-activities-in-postwar-japan-and-germany(f26d65bc-3480-4946-bbbf-a12d3a9f1fee).html" class="uri">http://vbn.aau.dk/en/publications/unescos-reeducation-activities-in-postwar-japan-and-germany(f26d65bc-3480-4946-bbbf-a12d3a9f1fee).html</a>.</p>
</div>
<div id="ref-kurin_us_2014">
<p>Kurin, Richard. 2014. “U.S. Consideration of the Intangible Cultural Heritage Convention.” <em>Ethnologies</em> 36 (1): 325–58. <a href="https://doi.org/10.7202/1037612ar" class="uri">https://doi.org/10.7202/1037612ar</a>.</p>
</div>
<div id="ref-lacoste_story_1994">
<p>Lacoste, Michel Conil. 1994. <em>The Story of a Grand Design : Unesco 1946-1993 : People, Events and Achievements</em>. Unesco Reference Books, 99-2070779-1. Paris: Unesco Publ.</p>
</div>
<div id="ref-lahdesmaki_genealogy_2019">
<p>Lähdesmäki, Tuuli, Sigrid Kaasik-Krogerus, and Katja Mäkinen. 2019. “Genealogy of the Concept of Heritage in the European Commission’s Policy Discourse.” <em>Contributions to the History of Concepts</em> 14 (1): 115–39. <a href="https://doi.org/http://dx.doi.org/10.3167/choc.2019.140106" class="uri">https://doi.org/http://dx.doi.org/10.3167/choc.2019.140106</a>.</p>
</div>
<div id="ref-london_re-imagining_2016">
<p>London, Jennifer A. 2016. “Re-Imagining the Cambridge School in the Age of Digital Humanities.” <em>Annual Review of Political Science</em> 19 (1): 351–73. <a href="https://doi.org/10.1146/annurev-polisci-061513-115924" class="uri">https://doi.org/10.1146/annurev-polisci-061513-115924</a>.</p>
</div>
<div id="ref-maurel_histoire_2010">
<p>Maurel, Chloé. 2010. <em>Histoire de l’Unesco : les trente premières années, 1945-1974</em>. Paris: L’Harmattan.</p>
</div>
<div id="ref-maurel_histoire_2015">
<p>———. 2015. <em>Histoire des idées des Nations unies: L’ONU en 20 notions</em>. Paris: L’Harmattan.</p>
</div>
<div id="ref-meeks_digital_2012">
<p>Meeks, Elijah, and Scott B. Weingart. 2012. “The Digital Humanities Contribution to Topic Modeling.” <em>Journal of Digital Humanities</em> 2 (1). <a href="http://journalofdigitalhumanities.org/2-1/dh-contribution-to-topic-modeling/" class="uri">http://journalofdigitalhumanities.org/2-1/dh-contribution-to-topic-modeling/</a>.</p>
</div>
<div id="ref-mohr_introductiontopic_2013">
<p>Mohr, John W., and Petko Bogdanov. 2013. “Introduction—Topic Models: What They Are and Why They Matter.” <em>Poetics</em>, Topic models and the cultural sciences, 41 (6): 545–69. <a href="https://doi.org/10.1016/j.poetic.2013.10.001" class="uri">https://doi.org/10.1016/j.poetic.2013.10.001</a>.</p>
</div>
<div id="ref-moyn_approaches_2013">
<p>Moyn, Samuel, and Andrew Sartori. 2013a. “Approaches to Global Intellectual History.” In <em>Global Intellectual History</em>, edited by Samuel Moyn and Andrew Sartori, 3–30. New York: Columbia University Press.</p>
</div>
<div id="ref-moyn_global_2013">
<p>———, eds. 2013b. <em>Global Intellectual History</em>. New York: Columbia University Press.</p>
</div>
<div id="ref-muller-wille_race_2007">
<p>Müller-Wille, Staffan. 2007. “Race et appartenance ethnique: la diversité humaine et l’UNESCO Déclarations sur la race (1950 et 1951).” In <em>60 ans d’histoire de l’UNESCO. Actes du colloque international, Paris, 16–18 novembre 2005</em>, 211–20. Paris: UNESCO.</p>
</div>
<div id="ref-mylonas_genese_1976">
<p>Mylonas, Denis. 1976. <em>La Genèse de L’Unesco : La Conférence Des Ministres Alliés de L’éducation (1942-1945)</em>. Organisation Internationale et Relations Internationales, 99-0124573-7 ; 3. Bruxelles.</p>
</div>
<div id="ref-nordenstreng_institutional_2008">
<p>Nordenstreng, Kaarle. 2008. “Institutional Networking: The Story of the International Association for Media and Communication Research (IAMCR).” In <em>The History of Media and Communication Research: Contested Memories</em>, edited by David W. Park and Jefferson Pooley, 225–48. New York: Peter Lang.</p>
</div>
<div id="ref-noren_information_2016">
<p>Norén, Fredrik. 2016. “Information Som Lösning, Information Som Problem : En Digital Läsning Av Tusentals Statliga Utredningar.” <em>Nordicom Information</em> 38 (3): 9–26. <a href="http://urn.kb.se/resolve?urn=urn:nbn:se:umu:diva-142786" class="uri">http://urn.kb.se/resolve?urn=urn:nbn:se:umu:diva-142786</a>.</p>
</div>
<div id="ref-osmanczyk_encyclopedia_2003">
<p>Osmańczyk, Edmund Jan. 2003. <em>Encyclopedia of the United Nations and International Agreements</em>. Edited by Anthony Mango. 3rd ed. 4 vols. New York: Routledge.</p>
</div>
<div id="ref-pemberton_changing_2012">
<p>Pemberton, Jo-Anne. 2012. “The Changing Shape of Intellectual Cooperation: From the League of Nations to UNESCO.” <em>Australian Journal of Politics &amp; History</em> 58 (1): 34–50. <a href="https://doi.org/10.1111/j.1467-8497.2012.01622.x" class="uri">https://doi.org/10.1111/j.1467-8497.2012.01622.x</a>.</p>
</div>
<div id="ref-pendergast_unesco_1976">
<p>Pendergast, William R. 1976. “UNESCO and French Cultural Relations 1945–1970.” <em>International Organization</em> 30 (3): 453–83. <a href="https://doi.org/10.1017/S0020818300018373" class="uri">https://doi.org/10.1017/S0020818300018373</a>.</p>
</div>
<div id="ref-piper_enumerations_2018">
<p>Piper, Andrew. 2018. <em>Enumerations: Data and Literary Study</em>. Chicago: University of Chicago Press.</p>
</div>
<div id="ref-preston_hope_1989">
<p>Preston, William, Edward S. Herman, and Herbert I. Schiller. 1989. <em>Hope &amp; Folly: The United States and Unesco, 1945-1985</em>. Minneapolis: University of Minnesota Press.</p>
</div>
<div id="ref-noauthor_reflections_1948">
<p><em>Reflections on Our Age</em>. 1948. London: Allan Wingate.</p>
</div>
<div id="ref-rehling_universalismen_2011">
<p>Rehling, Andrea. 2011. “Universalismen und Partikularismen im Widerstreit: Zur Genese des UNESCO-Welterbes.” <em>Zeithistorische Forschungen/Studies in Contemporary History</em> 8: 414–36.</p>
</div>
<div id="ref-renoliet_unesco_1999">
<p>Renoliet, Jean-Jacques. 1999. <em>L’Unesco oubliée: la Société des nations et la coopération intellectuelle, 1919-1946</em>. Paris: Publications de la Sorbonne.</p>
</div>
<div id="ref-reus-smit_cultural_2018">
<p>Reus-Smit, Christian. 2018. <em>On Cultural Diversity: International Theory in a World of Difference</em>. Cambridge: Cambridge University Press.</p>
</div>
<div id="ref-rockwell_hermeneutica_2016">
<p>Rockwell, Geoffrey, and Stéfan Sinclair. 2016. <em>Hermeneutica : Computer-Assisted Interpretation in the Humanities</em>. Cambridge, MA: The MIT Press.</p>
</div>
<div id="ref-rule_lexical_2015">
<p>Rule, Alix, Jean-Philippe Cointet, and Peter S. Bearman. 2015. “Lexical Shifts, Substantive Changes, and Continuity in State of the Union Discourse, 1790–2014.” <em>Proceedings of the National Academy of Sciences</em> 112 (35): 10837–44. <a href="https://doi.org/10.1073/pnas.1512221112" class="uri">https://doi.org/10.1073/pnas.1512221112</a>.</p>
</div>
<div id="ref-schwandt_digitale_2018">
<p>Schwandt, Silke. 2018. “Digitale Methoden für die Historische Semantik. Auf den Spuren von Begriffen in digitalen Korpora.” <em>Geschichte und Gesellschaft</em> 44: 107–34.</p>
</div>
<div id="ref-scovazzi_culture_2019">
<p>Scovazzi, Tullio. 2019. “Culture.” In <em>The Oxford Handbook of United Nations Treaties</em>, edited by Simon Chesterman, David M. Malone, and Santiago Villalpando, 307–20. Oxford: Oxford University Press.</p>
</div>
<div id="ref-selcer_postwar_2018">
<p>Selcer, Perrin. 2018. <em>The Postwar Origins of the Global Environment: How the United Nations Built Spaceship Earth</em>. New York: Columbia University Press.</p>
</div>
<div id="ref-simonson_international_2016">
<p>Simonson, Peter, and David W. Park, eds. 2016. <em>The International History of Communication Study</em>. New York: Routledge.</p>
</div>
<div id="ref-singh_united_2010">
<p>Singh, J. P. 2010. <em>United Nations Educational, Scientific, and Cultural Organization (UNESCO): Creating Norms for a Complex World</em>. London: Routledge.</p>
</div>
<div id="ref-singh_rise_1988">
<p>Singh, S. Nihal. 1988. <em>The Rise and Fall of Unesco</em>. Riverdale Company.</p>
</div>
<div id="ref-snelders_digital_2017">
<p>Snelders, Stephen, Pim Huijnen, Jaap Verheul, Maarten de Rijke, and Toine Pieters. 2017. “A Digital Humanities Approach to the History of Culture and Science: Drugs and Eugenics Revisited in Early 20th-Century Dutch Newspapers, Using Semantic Text Mining.” In <em>CLARIN in the Low Countries</em>, edited by Jan Odijk and Arjan van Hessen, 325–36. London: Ubiquity Press. <a href="https://doi.org/10.5334/bbi.27" class="uri">https://doi.org/10.5334/bbi.27</a>.</p>
</div>
<div id="ref-svenson_united_2015">
<p>Svenson, Nanette. 2015. <em>The United Nations as a Knowledge System</em>. London: Routledge.</p>
</div>
<div id="ref-tomlinson_cultural_1991">
<p>Tomlinson, John. 1991. <em>Cultural Imperialism: A Critical Introduction</em>. London: Pinter.</p>
</div>
<div id="ref-toye_one_2010">
<p>Toye, John, and Richard Toye. 2010. “One World, Two Cultures?: Alfred Zimmern, Julian Huxley, and the Ideological Origins of UNESCO.” <em>History</em> 95 (319): 308–31.</p>
</div>
<div id="ref-underwood_genealogy_2017">
<p>Underwood, Ted. 2017. “A Genealogy of Distant Reading” 11 (2). <a href="http://www.digitalhumanities.org/dhq/vol/11/2/000317/000317.html" class="uri">http://www.digitalhumanities.org/dhq/vol/11/2/000317/000317.html</a>.</p>
</div>
<div id="ref-underwood_distant_2019">
<p>———. 2019. <em>Distant Horizons: Digital Evidence and Literary Change</em>. Chicago: University of Chicago Press.</p>
</div>
<div id="ref-unesco_standard-setting_2007">
<p>UNESCO. 2007. <em>Standard-Setting in UNESCO. Volume II: Conventions, Recommendations, Declarations and Charters Adopted by UNESCO (1948-2006)</em>. Paris, The Hague: UNESCO Publishing / Martinus Nijhoff.</p>
</div>
<div id="ref-valderrama_history_1995">
<p>Valderrama, Fernando. 1995. <em>A History of UNESCO</em>. Paris: UNESCO.</p>
</div>
<div id="ref-wagman_locating_2016">
<p>Wagman, Ira. 2016. “Locating UNESCO in the Historical Study of Communication.” In <em>The International History of Communication Study</em>, edited by Peter Simonson and David W. Park, 71. New York: Routledge.</p>
</div>
<div id="ref-wallerstein_culture_1990">
<p>Wallerstein, Immanuel Maurice. 1990. “Culture as the Ideological Battleground of the Modern World-System.” <em>Theory, Culture and Society</em> 7 (2): 31–55.</p>
</div>
<div id="ref-wallerstein_geopolitics_1991">
<p>———. 1991. <em>Geopolitics and Geoculture: Essays on the Changing World-System</em>. Cambridge: Cambridge University Press.</p>
</div>
<div id="ref-wallerstein_european_2006">
<p>———. 2006. <em>European Universalism: The Rhetoric of Power</em>. New York: New Press.</p>
</div>
<div id="ref-weber_les_2007">
<p>Weber, Raymond. 2007. “Les Organisations multilatérales face aux nouveaux défis de la coopération culturelle.” In <em>Géopolitique de la culture: Espace d’identité, projections, coopération</em>, edited by François Roche, 81–100. Paris: Harmattan.</p>
</div>
<div id="ref-wevers_coca-cola_2018">
<p>Wevers, Melvin, and Jesper Verhoef. 2018. “Coca-Cola: An Icon of the American Way of Life. An Iterative Text Mining Workflow for Analyzing Advertisements in Dutch Twentieth-Century Newspapers.” <em>Digital Humanities Quarterly</em> 011 (4).</p>
</div>
<div id="ref-wong_relocating_2008">
<p>Wong, Laura Elizabeth. 2008. “Relocating East and West: UNESCO’s Major Project on the Mutual Appreciation of Eastern and Western Cultural Values.” <em>Journal of World History</em> 19 (3): 349–74. <a href="http://www.jstor.org.ezproxy.its.uu.se/stable/40542619" class="uri">http://www.jstor.org.ezproxy.its.uu.se/stable/40542619</a>.</p>
</div>
</div>
